---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="ご覧いただきありがとうございます。"
			>
				<!--
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
				 -->
			</Hero>

			<section>
				<h2 class="section-title">人物</h2>
				<div class="content">
					<p>
						1992年生まれ　東京都出身
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">経歴</h2>
				<div class="content">
					<p>2021年11月</p>
					<ul>
						<li>現在の所属会社に入社</li>
					</ul>
					<p>2021年12月〜2024年3月</p>
					<ul>
						<li>大手Sierのヘルプデスク業務で参画</li>
					</ul>
					<p>2024年4月〜2024年9月</p>
					<ul>
						<li>所属会社にてHR業務</li>
					</ul>
					<p>2024年10月〜現在</p>
					<ul>
						<li>運用保守・開発業務に従事</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">趣味</h2>
				<div class="content">
					<p>車（ドライブ）</p>
					<p>動画鑑賞（YouTube）</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
