---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home | TORI" description="TORIについて">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="HOME"
				tagline="ご覧いただきありがとうございます。"
			>
				<!--
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
				 -->
			</Hero>

			<section>
				<h2 class="section-title">人物</h2>
				<div class="content">
					<p>
						1992年生まれ　東京都出身
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">資格</h2>
				<div class="content">
					<li>ITパスポート</li>
					<li>ORACLE Bronze DBA</li>
					<li>Java SE Bronze</li>
					<li>Java SE Silver</li>
				</div>
			</section>
			<section>
				<h2 class="section-title">言語</h2>
					<div class="content">
					<li>Java</li>
					<li>JavaScript</li>
					<li>TypeScript</li>
					<li>HTML</li>
					<li>CSS</li>
				</div>
			</section>
			<section>
				<h2 class="section-title">フレームワーク・ライブラリ</h2>
				<div class="content">
					<li>Spring Boot</li>
					<li>Next.js</li>
					<li>React</li>
					<li>TailwindCss</li>
					<li>Shadcs/ui</li>
				</div>
			</section>
			<section>
				<h2 class="section-title">データベース</h2>
				<div class="content">
					<li>PostgreSQL</li>
					<li>HSQLDB</li>
				</div>
			</section>
			<section>
				<h2 class="section-title">ツール</h2>
				<div class="content">
					<li>VSCode</li>
					<li>Docker</li>
					<li>Git/GitHub</li>
					<li>JUnit</li>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
